/* belajar ttg text styling */
h1 {
    font-size: 100px;
    font-family: "product sans";
    color: teal;
    text-align: center;
    text-decoration: underline;
    text-transform: lowercase;
}

h2 {
    font-family: "sf pro text";
    text-decoration: overline;
    text-transform: uppercase;
    text-align: center;
    color: #144C17;
}

p {
    font-family: "ubuntu";
    text-align: right;
    color: rgb(44, 70, 0);
    text-indent: 10%;
    text-transform: capitalize;
    word-spacing: 15px;
}

a {
    text-decoration: none;
    font-family: "bombardier";
    letter-spacing: 5px;
}